:root {
  --orange: hsl(31, 77%, 52%);
  --cyan:  hsl(184, 100%, 22%);
  --darkCyan: hsl(179, 100%, 13%);
  --white: hsla(0, 0%, 100%, 0.75);
  --gray: hsl(0, 0%, 95%);
  --textsize: 18px;
  --titlesize: 35px;
  --left-offset: 11%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    width: 60%;
    height: 60vh;
    border-radius: 15px;
}

.card {
  flex-grow: 1;
  color: #ffffff;
}

.card-title {
  position: relative;
  font-family: 'Big Shoulders Display', cursive;
  font-size: var(--titlesize);
  color: white;
  padding-top: 20%;
  left: var(--left-offset);
}

.card-text {
  position: relative;
  width: 80%;
  left: var(--left-offset);
  text-align: left;
  font-family: 'Lexend Deca', sans-serif;
  font-size: var(--textsize);
  color: var(--white);
  padding-top: 8%;
  height: 35%;
}

.sedan {
  background-color: var(--orange);
  color: var(--orange);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.sedan::before {
  content: url('images/icon-sedans.svg');
  position: relative;
  left: 48px;
  top: 10%;
}

.suv {
  background-color: var(--cyan);
  color: var(--cyan);
}

.suv::before {
  content: url('images/icon-suvs.svg');
  position: relative;
  left: 48px;
  top: 10%;
}

.luxury {
  background-color: var(--darkCyan);
  color: var(--darkCyan);
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.luxury::before {
  content: url('images/icon-luxury.svg');
  position: relative;
  left: 48px;
  top: 10%;
}

.btn {
  font-family: "Lexend Deca", sans-serif;
  font-size: 13px;
  color: inherit;
  background-color: #ffffff;
  border: solid 3px white;
  position: relative;
  width: 53%;
  left: var(--left-offset);
  height: 50px;
  margin-top: 20px;
  border-radius: 40px;
  transition: all 0.2s;
}

.btn:hover {
  background-color: inherit;
  color: white;
}

@media only screen and (max-width:500px){
  body {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
    width: 90vw;
  }

  .card {
    padding-bottom: 100px;
  }

  .sedan {
    border-bottom-left-radius: 0px;
    border-top-right-radius: inherit;
  }

  .sedan::before {
    top: 3rem;
  }

  .suv::before {
    top: 3rem;
  }

  .luxury {
    border-top-right-radius: 0px;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  .luxury::before {
    top: 3rem;
  }

  .card-title {
    font-size: 50px;
  }

  .card-text {
    height: 250px;
    padding-bottom: 10%;
    font-size: 25px;
  }

  .btn {
    width: 50%;
    font-size: 20px;
    height: 60px;
  }
  
  .attribution {
    position: absolute;
    top: 50px;
  }
}